<br>
<h4 class="animated fadeIn">Lista de productos</h4>
<hr>
<br>
<table class="table-sm table animated fast fadeIn" *ngIf="hayRegistros(); else sin">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Categoria</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor=" let producto of productos">
            <td scope="row">{{producto.id_prod}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.nombrecat}}</td>
            <td><div class="btn-group">
                <button (click)="verproducto(producto.id_prod)" type="button" class="btn btn-warning">Editar</button>
                <button (click)="borrar(producto.id_prod)" type="button" class="btn btn-danger">Borrar</button>
                
              </div></td>
          </tr>
          
        </tbody>
      </table>

      <ng-template #sin>
          <p>No hay productos registrados.</p>
        </ng-template>
      
